annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
attrs==25.4.0
aws-sam-translator==1.101.0
aws-xray-sdk==2.15.0
boto3==1.40.74
botocore==1.40.74
certifi==2025.11.12
cffi==2.0.0
cfn-lint==1.40.4
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
docker==7.1.0
dotenv==0.9.9
graphql-core==3.2.7
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
jmespath==1.0.1
joserfc==1.4.1
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
moto==5.1.16
mpmath==1.3.0
multipart==1.3.0
networkx==3.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
packaging==25.0
pathable==0.4.4
pluggy==1.6.0
ply==3.11
py-partiql-parser==0.6.3
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pywin32==311
PyYAML==6.0.3
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
responses==0.25.8
rfc3339-validator==0.1.4
rpds-py==0.29.0
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
watchtower==3.4.0
Werkzeug==3.1.3
wrapt==2.0.1
xmltodict==1.0.2
